<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <!-- begin: style sheet area -->
  <!-- end  : style sheet area -->

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <header>

  </header>
  <main>

  </main>
  <footer>

  </footer>
  <!-- begin: script area -->
  <!-- end  : script area -->
</body>

</html>
